body {
    background-color: #292929;
    color: rgb(110, 110, 110);
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button, input {
    padding: 13px 10px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 7px;
    border: none;
}

button {
    background-color: rgb(187, 187, 187);
    border: none;
    margin-left: 3%;
    font-weight: bold;
    color: rgb(110, 110, 110);
}

button:hover {
    color: black;
    cursor: pointer;
}

input {
    min-width: 230px;
    width: 80%;
    background-color: rgb(187, 187, 187);
    color: rgb(110, 110, 110);
}


#taskContainer {
    padding: 10px;
    word-wrap: break-word;
}

p {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(187, 187, 187);;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    min-width: 315px;
    width: 70%;
}

@media screen and (max-width: 546px) {
    input {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}